body {
    background: gainsboro;
}

.quot {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
}

.letter {
    margin: 80px;
}

.form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg-submit {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}