<%- include('partials/header') %> 
    <div class="container bg-white">
        <div class="row">
            <div class="col-md form">
                <div class="letter">
                    <div class="img">
                        <img src="https://png.pngtree.com/png-vector/20190303/ourmid/pngtree-modern-abstract-3d-logo-png-image_771012.jpg" alt="">
                     </div> 
                    <h2 class="mb-5">We are the big Data</h2>
                    <form>
                        <div class="form-group">
                          <label>User name</label>
                          <input  type="text" class="form-control" id="input-user" placeholder="Enter User">
                          <small class="form-text text-muted">We'll never share your user with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" id="input-password" placeholder="Password">
                        </div>
                        <button class="btn btn-primary btn-block bg-submit mt-5" type="button" onclick=authorizer()>Log in</button>
                    </form>
                </div>                
            </div>
            <div class="col-md quot">
                <div class="letter2">
                    <h2>Login with user and password</h2>
                    <h5 class="mt-4">make sure that your user and password match with data in our system. so that make you can login to see all name in our system.<br> hope you enjoy it!! </h5>
                    <hr>
                    <span>Irwan Hadi</span>
                </div>
            </div>
    </div>

<%- include('partials/footer') %> 