<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge-Chapter5</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container bg-white">
        <div class="row">
            <div class="col-md form">
                <div class="letter">
                    <h2 class="mb-5">We are the big Data</h2>
                    <form>
                        <div class="form-group">
                          <label>User name</label>
                          <input type="email" class="form-control" id="InputUser" placeholder="Enter User">
                          <small class="form-text text-muted">We'll never share your user with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                        </div>
                        <button class="btn btn-primary btn-block bg-submit mt-5" type="button">Log in</button>
                    </form>
                </div>                
            </div>
            <div class="col-md quot">
                <div class="letter">
                    <h2>Login with user and password</h2>
                    <h5 class="mt-4">make sure that your user and password match with data in our system. so that make you can login to see all your data in our system.<br> hope you enjoy it!! </h5>
                    <hr>
                    <span>Irwan Hadi</span>
                </div>
            </div>
    </div>
</body>
</html>